
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap')

$main-yellow: #FFE031
$white: #fcfcfc
$light-gray: #f7f7f7
$gray: #e3e3e3
$med-gray: #6C6C6C
$dark-gray: #414141

body
    font-family: "Roboto"
    background-color: $light-gray
    color: $dark-gray

    a
        text-decoration: none
        color: inherit

    /*  NAVBAR */

    #navbar
        position: fixed
        bottom: 0
        width: 100%
        background-color: $gray
        z-index: 1

        .nav-link:focus
            color: $main-yellow

    /* HOME */

    #carouselPromo
        width: 70%

    #location
        color: $main-yellow
        font-size: 2rem
        margin: 0

    .text-direction
        font-size: 0.8rem

    .btns-filter
        place-content: center
        gap: 0.5rem

    .btn-filter
        background-color: $gray

    .btn-filter:focus
        background-color: $main-yellow

    /* RESTAURANT */

    .restaurant
        background-color: $white
        margin: 1%
        border-radius: 5px

    .img-restaurant-card
        width: 35%
        object-fit: cover

    /* LOGIN */

    .login
        position: absolute
        bottom: 5%

    .text-login
        text-align: center

    #btn-login
        width: 112%

    .btn-yellow
        background-color: $main-yellow

    .btn-yellow:focus
        background-color: $main-yellow

    /* SEARCH */    

    .search-icon
        left: 2%
        top: 28%
        color: $med-gray

    /* PROFILE */ 

    .img-profile
        display: flex
        width: 35%
        border-radius: 100%

    .profile-items
        background-color: $gray
        border-radius: 5px
        margin: 3% 5%

    .fa-user, .fa-wallet, .fa-globe, .fa-location-dot, .fa-circle-question, .fa-phone
        margin-left: 10%

    .text-profile-items
        margin: 0 20%

    .fa-angle-right, .eng
        position: absolute
        right: 10%
        cursor: pointer

    .btn-danger
        position: absolute
        bottom: 10%
        cursor: pointer

    /* EDIT PROFILE */

    .form-user
        width: 95%
        margin: auto

    .btn-info
        margin-left: 25%

    /* Restaurant Detail */

    .img-restaurant-detail
        width: 40%

    .restaurant-info-detail
        font-size: 1rem

    /* Dish card */

    .dish-card
        width: 40%
        margin: 5%
        background-color: $white

    .dish-img
        width: 100%
        height: 65%
        object-fit: cover

    .text-dishes
        font-size: 0.8rem

    /* Dish detail-page */

    .dish-info
        background-color: $white
        padding-top: 10%

    .img-info-dish
        width: 60%
        margin: auto
        object-fit: cover

    .text-time-dish
        position: absolute
        right: 10%

    .add-text-dish
        font-size: 0.9rem

    .btns-dish-info
        margin: 25% 0

    .input-group
        background-color: $gray
        width: 30%
        input
            background-color: $gray

    .btn-add
        width: 60%
        margin-left: 10%
        align-items: center

    /* ORDERS */

    .orders-container
        margin-bottom: 15%
        align-items: center

    .btn-keep-buying
        position: sticky
        bottom: 8%
        margin-bottom: 15%

    .btns-erase
        background-color: $gray
        color: $med-gray
        position: sticky
        bottom: 8%

    .btns-erase:focus
        background-color: $gray
        color: $med-gray
