
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap')

$main-yellow: #FFE031
$white: #fcfcfc
$light-gray: #f7f7f7
$gray: #A7A7A7
$med-gray: #6C6C6C
$dark-gray: #414141

body
    font-family: "Roboto"
    background-color: $light-gray
    color: $dark-gray

    #navbar
        position: absolute
        bottom: 0
        width: 100%

        .nav-link:focus
            color: $main-yellow

    .login
        position: absolute
        bottom: 5%

    .text-login
        text-align: center

    #btn-login
        width: 112%

    .btn-yellow
        background-color: $main-yellow
